{
  "openapi": "3.0.0",
  "info": {
    "title": "LMS API Document",
    "description": "OpenAPI 3.0에 기반한 LMS 시스템 서버입니다.\n github repo : [https://github.com/mochangil/LMS](https://github.com/mochangil/LMS)",
    "contact": {
        "email": "ahckddlf1234@gmail.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://ec2-3-37-123-67.ap-northeast-2.compute.amazonaws.com:3000/"
    }
  ],
  "tags": [
    {
        "name": "members",
        "description": ""
    },
    {
        "name": "academies",
        "description": ""
    },
    {
        "name": "words",
        "description": " "
    },
    {
        "name": "auth",
        "description": ""
    }
  ],
  "paths": {
    "/members/": {
      "get": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/members/teachers": {
      "get": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "example": "any"
                  },
                  "id": {
                    "example": "any"
                  },
                  "age": {
                    "example": "any"
                  },
                  "phoneNumber": {
                    "example": "any"
                  },
                  "academy_id": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/teachers/update": {
      "post": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "phoneNumber": {
                    "example": "any"
                  },
                  "age": {
                    "example": "any"
                  },
                  "academy_id": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/teachers/delete": {
      "post": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/students": {
      "get": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "age": {
                    "example": "any"
                  },
                  "phoneNumber": {
                    "example": "any"
                  },
                  "classroom_id": {
                    "example": "any"
                  },
                  "academy_id": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/students/update": {
      "post": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "phoneNumber": {
                    "example": "any"
                  },
                  "age": {
                    "example": "any"
                  },
                  "classroom_id": {
                    "example": "any"
                  },
                  "academy_id": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/students/delete": {
      "post": {
        "tags": [
            "members"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/academies/": {
      "get": {
        "tags": [
            "academies"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
            "academies"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "logo": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  },
                  "theme_id": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/academies/delete": {
      "post": {
        "tags": [
            "academies"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/classrooms/": {
      "get": {
        "tags": [
            "classrooms"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
            "classrooms"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "example": "any"
                  },
                  "teacher_id": {
                    "example": "any"
                  },
                  "academy_id": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/classrooms/delete": {
      "post": {
        "tags": [
            "classrooms"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notices/": {
      "get": {
        "tags": [
            "notices"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
            "notices"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "context": {
                    "example": "any"
                  },
                  "endDate": {
                    "example": "any"
                  },
                  "classroom_id": {
                    "example": "any"
                  },
                  "createdAt": {
                    "example": "any"
                  },
                  "updatedAt": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notices/delete": {
      "post": {
        "tags": [
            "notices"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lectures/": {
      "get": {
        "tags": [
            "lectures"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
            "lectures"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "example": "any"
                  },
                  "link": {
                    "example": "any"
                  },
                  "classroom_id": {
                    "example": "any"
                  },
                  "createdAt": {
                    "example": "any"
                  },
                  "updatedAt": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lectures/delete": {
      "post": {
        "tags": [
            "lectures"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/words/": {
      "get": {
        "tags": [
            "words"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
            "words"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "context": {
                    "example": "any"
                  },
                  "word": {
                    "example": "any"
                  },
                  "meaning": {
                    "example": "any"
                  },
                  "classroom_id": {
                    "example": "any"
                  },
                  "chapter": {
                    "example": "any"
                  },
                  "academy_id": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/words/{id}": {
      "get": {
        "tags": [
            "words"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/words/delete": {
      "post": {
        "tags": [
            "words"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/join": {
      "post": {
        "tags": [
            "auth"
        ],
        "description": "",
        "parameters": [],
        "responses": {},
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "example": "any"
                  },
                  "nick": {
                    "example": "any"
                  },
                  "password": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
            "auth"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/auth/logout": {
      "get": {
        "tags": [
            "auth"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/auth/google": {
      "get": {
        "tags": [
            "auth"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/auth/google/callback": {
      "get": {
        "tags": [
            "auth"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "in": "header",
        "bearerFormat": "JWT"
      }
    }
  }
}